* {
    background-color: lightgreen;
    font-size: 24px;
}

h1 {
    font-size: 60px;
    background-color: black;
    color: white;
}

h2 {
    font-size: 32px;
    background-color: red;
}

ul, ol, li {
    background-color: lightskyblue;
}

img {
    height: 300px;
    width: auto;
}